@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Montserrat:400,700&display=swap");
/************************          MIXINS         ****************************/
/************************          STYLES         ****************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* &:after {
        content: " ";
        z-index: 1;
        display: block;
        position: absolute;
        height: 50px;
        top: 0;
        left: 0;
        right: 0;
        background: white;
    } */
}

.nav li {
  list-style: none;
  margin: 1.5rem 1rem;
  z-index: 2;
  font-size: 1.1rem;
}

.nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav .active svg path {
  fill: black;
}

body {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  scroll-snap-align: start;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  background-image: url(../assets/images/train.jpg);
  background-size: cover;
  background-position: 40% 50%;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  /* &__hero h2:before {
        content: " ";
        background-color: #164053;
        height: 7px;
        position: absolute;
        top: -15px;
        width: 700px;
    } */
}

@media (max-width: 1200px) {
  .header {
    background-position: 60% 50%;
  }
}

@media (max-width: 900px) {
  .header {
    background-position: 72% 50%;
  }
}

.header__hero h1 {
  font-size: 12rem;
  text-transform: uppercase;
  line-height: 0.8;
}

.header__hero h2 {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  color: white;
  font-weight: normal;
  margin-top: 2rem;
  z-index: 30;
  background: -webkit-linear-gradient(15deg, #073749 0%, #38746d 100%);
  border-radius: 5px;
  width: 700px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.header__text-container {
  margin: 3rem;
  margin-top: 14rem;
  z-index: 30;
}

@media (max-width: 900px) {
  .header__text-container {
    width: 50vw;
  }
}

.background {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F8C533), to(#f09712));
  background-image: linear-gradient(to top, #F8C533 0%, #f09712 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 70% 0, 45% 100%, 0% 100%);
          clip-path: polygon(0 0, 70% 0, 45% 100%, 0% 100%);
}

#julia {
  -webkit-animation: fill 1s ease forwards 3.5s;
          animation: fill 1s ease forwards 3.5s;
  fill: transparent;
  width: 100%;
}

#julia path:nth-child(1) {
  stroke-dasharray: 448.77px;
  stroke-dashoffset: 448.77px;
  -webkit-animation: line-anim 2s ease forwards 1.5s;
          animation: line-anim 2s ease forwards 1.5s;
}

#julia path:nth-child(2) {
  stroke-dasharray: 646.16px;
  stroke-dashoffset: 646.16px;
  -webkit-animation: line-anim 2s ease forwards 1.8s;
          animation: line-anim 2s ease forwards 1.8s;
}

#julia path:nth-child(3) {
  stroke-dasharray: 425px;
  stroke-dashoffset: 425px;
  -webkit-animation: line-anim 2s ease forwards 2.1s;
          animation: line-anim 2s ease forwards 2.1s;
}

#julia path:nth-child(4) {
  stroke-dasharray: 337.14px;
  stroke-dashoffset: 337.14px;
  -webkit-animation: line-anim 2s ease forwards 2.4s;
          animation: line-anim 2s ease forwards 2.4s;
}

#julia path:nth-child(5) {
  stroke-dasharray: 637.33px;
  stroke-dashoffset: 637.33px;
  -webkit-animation: line-anim 2s ease forwards 2.7s;
          animation: line-anim 2s ease forwards 2.7s;
}

#shumeyko {
  -webkit-animation: fill 1s ease forwards 6s;
          animation: fill 1s ease forwards 6s;
  fill: transparent;
  width: 100%;
}

#shumeyko path:nth-child(1) {
  stroke-dasharray: 646.33px;
  stroke-dashoffset: 646.33px;
  -webkit-animation: line-anim 2s ease forwards 3s;
          animation: line-anim 2s ease forwards 3s;
}

#shumeyko path:nth-child(2) {
  stroke-dasharray: 725px;
  stroke-dashoffset: 725px;
  -webkit-animation: line-anim 2s ease forwards 3.3s;
          animation: line-anim 2s ease forwards 3.3s;
}

#shumeyko path:nth-child(3) {
  stroke-dasharray: 646.16px;
  stroke-dashoffset: 646.16px;
  -webkit-animation: line-anim 2s ease forwards 3.6s;
          animation: line-anim 2s ease forwards 3.6s;
}

#shumeyko path:nth-child(4) {
  stroke-dasharray: 993px;
  stroke-dashoffset: 993px;
  -webkit-animation: line-anim 2s ease forwards 3.9s;
          animation: line-anim 2s ease forwards 3.9s;
}

#shumeyko path:nth-child(5) {
  stroke-dasharray: 636px;
  stroke-dashoffset: 636px;
  -webkit-animation: line-anim 2s ease forwards 4.2s;
          animation: line-anim 2s ease forwards 4.2s;
}

#shumeyko path:nth-child(6) {
  stroke-dasharray: 525px;
  stroke-dashoffset: 525px;
  -webkit-animation: line-anim 2s ease forwards 4.5s;
          animation: line-anim 2s ease forwards 4.5s;
}

#shumeyko path:nth-child(7) {
  stroke-dasharray: 728px;
  stroke-dashoffset: 728px;
  -webkit-animation: line-anim 1.5s ease forwards 4.8s;
          animation: line-anim 1.5s ease forwards 4.8s;
}

#shumeyko path:nth-child(8) {
  stroke-dasharray: 673.60px;
  stroke-dashoffset: 673.60px;
  -webkit-animation: line-anim 2s ease forwards 5.1s;
          animation: line-anim 2s ease forwards 5.1s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.about, .skills, .projects, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-snap-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  background: whitesmoke;
}

@media (max-width: 600px) {
  .about, .skills, .projects, .contact {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.about__text, .skills__text, .projects__text, .contact__text {
  text-align: center;
  width: 50vw;
}

@media (max-width: 900px) {
  .about__text, .skills__text, .projects__text, .contact__text {
    width: 70vw;
  }
}

@media (max-width: 600px) {
  .about__text, .skills__text, .projects__text, .contact__text {
    width: 80vw;
  }
}

.about__text h1, .skills__text h1, .projects__text h1, .contact__text h1 {
  font-size: 8.3vw;
  text-align: center;
  color: #3d3d3d;
}

@media (max-width: 900px) {
  .about__text h1, .skills__text h1, .projects__text h1, .contact__text h1 {
    font-size: 11.5vw;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 600px) {
  .about__text h1, .skills__text h1, .projects__text h1, .contact__text h1 {
    font-size: 13vw;
  }
}

.about__text p, .skills__text p, .projects__text p, .contact__text p {
  font-size: 1.3rem;
  text-align: justify;
  color: #3d3d3d;
}

@media (max-width: 1200px) {
  .about__text p, .skills__text p, .projects__text p, .contact__text p {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .about__text p, .skills__text p, .projects__text p, .contact__text p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.skills, .contact {
  background-color: #F8C533;
}

.about span {
  display: inline-block;
  color: #F8C533;
  font-weight: bold;
}

.about__text h1 {
  background: -webkit-linear-gradient(15deg, #073749 0%, #38746d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills {
  background-image: linear-gradient(15deg, #073749 0%, #38746d 100%);
}

.skills__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills h1 {
  color: white;
  margin-bottom: 3rem;
}

.skills i {
  color: white;
  font-size: 4.5rem;
  margin: 2rem;
}

@media (max-width: 1200px) {
  .skills i {
    font-size: 3rem;
  }
}

.skills img {
  height: 4.5rem;
  margin: 2rem;
  fill: #3d3d3d;
}

.projects {
  height: 190vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1200px) {
  .projects {
    height: 100%;
  }
}

.projects .about__text h1 {
  margin-top: 4rem;
}

@media (max-width: 600px) {
  .projects .about__text h1 {
    margin-top: 0;
  }
}

.projects-container {
  margin: 2rem 3rem 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-container .project-card {
  margin: 2rem;
  position: relative;
}

@media (max-width: 900px) {
  .projects-container .project-card {
    margin: 4rem;
    position: static;
  }
}

.projects-container .project-card img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0.3) grayscale(1);
          filter: brightness(0.3) grayscale(1);
}

@media (max-width: 900px) {
  .projects-container .project-card img {
    -webkit-filter: none;
            filter: none;
  }
}

.projects-container .project-card .face {
  width: 390px;
  height: 210px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 900px) {
  .projects-container .project-card .face {
    width: 100vw;
  }
}

.projects-container .project-card .face1 {
  position: relative;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transform: translateY(180px);
          transform: translateY(180px);
}

@media (max-width: 900px) {
  .projects-container .project-card .face1 {
    width: 100vw;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.projects-container .project-card .face1 .content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects-container .project-card .face1:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-container .project-card .face2 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F8C533), to(#f09712));
  background-image: linear-gradient(to top, #F8C533 0%, #f09712 100%);
  color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 290px;
  -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
}

@media (max-width: 900px) {
  .projects-container .project-card .face2 {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.projects-container .project-card .face2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-container .project-card .face2 p {
  margin: 0;
  padding: 0;
}

.projects-container .project-card .face2 p span {
  color: whitesmoke;
}

.projects-container .project-card .face2 a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #073749;
  padding: 5px;
  text-transform: uppercase;
}

.projects-container .project-card .face2 a:hover {
  background-color: #073749;
  color: #fff;
}

.projects-container .project-card .face2 h3 {
  margin: 0 auto 35px auto;
  color: #073749;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.projects-container .project-card:hover .content {
  opacity: 1;
}

.projects-container .project-card:hover .face1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-container .project-card:hover .face2 {
  -webkit-transform: translateY(2%);
          transform: translateY(2%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.projects-container .project-card:hover img {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.contact {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F8C533), to(#f09712));
  background-image: linear-gradient(to top, #F8C533 0%, #f09712 100%);
}

.contact__text h1 {
  color: white;
  margin-top: 4rem;
}

.contact__form {
  text-align: center;
  width: 30%;
  margin: 4rem auto auto auto;
}

@media (max-width: 1200px) {
  .contact__form {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .contact__form {
    width: 80%;
    margin-bottom: 2rem;
  }
}

.contact__form p {
  color: #073749;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact__form input {
  border: none;
  border-radius: 10px;
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #747474;
  font-size: 1rem;
}

.contact__form textarea {
  resize: none;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin: 10px auto 10px auto;
  padding: 10px;
  color: #747474;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.contact__form .btn {
  width: 20%;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-image: linear-gradient(15deg, #073749 0%, #38746d 100%);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

@media (max-width: 600px) {
  .contact__form .btn {
    width: 30%;
  }
}

.contact__form .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.footer {
  scroll-snap-align: end;
  background-image: linear-gradient(15deg, #073749 0%, #38746d 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.footer p {
  margin: 0 auto 1rem auto;
  text-transform: uppercase;
}

.footer__social {
  padding: 1rem;
}

.footer__social i {
  margin: 0.5rem 1rem;
  font-size: 3rem;
  color: white;
}
/*# sourceMappingURL=styles.css.map */