@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Montserrat:400,700&display=swap");
/************************          MIXINS         ****************************/
/************************          STYLES         ****************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    overflow-x: hidden;
  }
}

.mobile-nav {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  z-index: 11000;
  text-align: center;
  -webkit-transform: translateX(2000px);
          transform: translateX(2000px);
  display: none;
}

.mobile-nav li {
  list-style: none;
  margin: 3rem 1rem;
  z-index: 2;
  font-size: 2rem;
}

.mobile-nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

#nav-toggle {
  position: fixed;
  display: none;
  z-index: 12000;
  right: 5%;
  top: 5%;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

@media (max-width: 600px) {
  #nav-toggle {
    display: block;
  }
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: "";
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
}

.nav li {
  list-style: none;
  margin: 1.5rem 1rem;
  z-index: 2;
  font-size: 1.1rem;
}

.nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav .active svg path {
  fill: black;
}

.header {
  height: 100vh;
  scroll-snap-align: start;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  background-image: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

@media (max-width: 1200px) {
  .header {
    background-position: 60% 50%;
  }
}

@media (max-width: 900px) {
  .header {
    background-position: 72% 50%;
  }
}

@media (max-width: 600px) {
  .header {
    overflow-x: hidden;
  }
}

.header__hero {
  height: 100%;
}

.header__hero h2 {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
  margin: 2rem auto;
  z-index: 30;
  border-radius: 10px;
  padding: 10px;
  border: 4px solid #fff;
  text-align: center;
  width: 55%;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .header__hero h2 {
    width: 80%;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

.header__text-container {
  margin: 0;
  z-index: 30;
}

@media (max-width: 600px) {
  .header__text-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.background {
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 70% 0, 45% 100%, 0% 100%);
          clip-path: polygon(0 0, 70% 0, 45% 100%, 0% 100%);
}

@media (max-width: 600px) {
  .background {
    -webkit-clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
  }
}

#shark {
  position: absolute;
  height: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 160px;
}

@media (max-width: 600px) {
  #shark {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

#julia {
  -webkit-animation: fill 1s ease forwards 3.5s;
          animation: fill 1s ease forwards 3.5s;
  fill: transparent;
  width: 70%;
  margin: 2rem auto;
  display: block;
}

@media (max-width: 600px) {
  #julia {
    margin: 0;
    width: 90%;
  }
}

#shumeyko {
  -webkit-animation: fill 1s ease forwards 6s;
          animation: fill 1s ease forwards 6s;
  fill: transparent;
  width: 90%;
  margin: auto;
  display: block;
}

@media (max-width: 600px) {
  #shumeyko {
    margin: 2rem auto;
    width: 90%;
  }
}

.about, .skills, .projects, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-snap-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

@media (max-width: 600px) {
  .about, .skills, .projects, .contact {
    height: 100%;
    padding-top: 1rem;
    width: 100vw;
    padding-bottom: 1rem;
  }
}

.about__text, .skills__text, .projects__text, .contact__text {
  text-align: center;
  width: 50vw;
}

@media (max-width: 600px) {
  .about__text, .skills__text, .projects__text, .contact__text {
    width: 100vw;
    padding: 1rem;
  }
}

.about__text h1, .skills__text h1, .projects__text h1, .contact__text h1 {
  font-size: 8.3vw;
  text-align: center;
  color: #3d3d3d;
}

@media (max-width: 900px) {
  .about__text h1, .skills__text h1, .projects__text h1, .contact__text h1 {
    font-size: 11.5vw;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 600px) {
  .about__text h1, .skills__text h1, .projects__text h1, .contact__text h1 {
    font-size: 13vw;
  }
}

.about__text p, .skills__text p, .projects__text p, .contact__text p {
  font-size: 1.3rem;
  text-align: justify;
  color: #3d3d3d;
}

@media (max-width: 1200px) {
  .about__text p, .skills__text p, .projects__text p, .contact__text p {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .about__text p, .skills__text p, .projects__text p, .contact__text p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

.about span {
  display: inline-block;
  color: #28DCFE;
  font-weight: bold;
}

.about__text h1 {
  background: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__text p {
  color: #525252;
}

.skills {
  background: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.skills__text {
  width: 70vw;
}

.skills__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills h1 {
  color: white;
  margin-bottom: 3rem;
}

.skills i {
  color: white;
  font-size: 4.5rem;
  margin: 2rem;
}

@media (max-width: 600px) {
  .skills i {
    font-size: 2.4rem;
    margin: 1rem;
  }
}

.skills .skill {
  height: 3rem;
  margin: 2rem;
  fill: #3d3d3d;
}

@media (max-width: 600px) {
  .skills .skill {
    height: 2rem;
    margin: 1rem;
  }
}

.projects {
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 600px) {
  .projects {
    overflow-x: hidden;
  }
}

@media (max-width: 1200px) {
  .projects {
    height: 100%;
  }
}

.projects .about__text h1 {
  margin: 4rem 0 2rem 0;
}

@media (max-width: 600px) {
  .projects .about__text h1 {
    margin-top: 0;
  }
}

.projects-container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-container .project-card {
  margin: 0rem;
  position: relative;
}

@media (max-width: 900px) {
  .projects-container .project-card {
    margin: 4rem 0;
    position: static;
  }
}

.projects-container .project-card img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0.6) grayscale(0.1);
          filter: brightness(0.6) grayscale(0.1);
  -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.45);
}

@media (max-width: 900px) {
  .projects-container .project-card img {
    -webkit-filter: none;
            filter: none;
  }
}

.projects-container .project-card .face {
  width: 400px;
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 900px) {
  .projects-container .project-card .face {
    width: 100vw;
  }
}

.projects-container .project-card .face1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transform: translateY(180px);
          transform: translateY(180px);
}

@media (max-width: 900px) {
  .projects-container .project-card .face1 {
    width: 100vw;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.projects-container .project-card .face1 .content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.projects-container .project-card .face1:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-container .project-card .face2 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 290px;
  -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.45);
  -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
}

@media (max-width: 900px) {
  .projects-container .project-card .face2 {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media (max-width: 373px) {
  .projects-container .project-card .face2 {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
    padding: 15px;
  }
}

.projects-container .project-card .face2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-container .project-card .face2 p {
  margin: 0;
  padding: 0;
}

.projects-container .project-card .face2 p span {
  color: #272641;
  font-size: 0.6rem;
  text-transform: uppercase;
}

.projects-container .project-card .face2 a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #073749;
  padding: 5px;
  text-transform: uppercase;
}

.projects-container .project-card .face2 a:hover {
  background-color: #073749;
  color: #fff;
}

.projects-container .project-card .face2 h3 {
  margin: 0 auto 30px auto;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.8rem;
}

@media (max-width: 373px) {
  .projects-container .project-card .face2 h3 {
    font-size: 1.3rem;
  }
}

.projects-container .project-card:hover .content {
  opacity: 1;
}

.projects-container .project-card:hover .face1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-container .project-card:hover .face2 {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.projects-container .project-card:hover img {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.contact {
  margin: 5rem 0 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.contact__text h1 {
  color: white;
  margin-top: 4rem;
}

.contact__form {
  text-align: center;
  width: 30%;
  margin: 4rem auto auto auto;
}

@media (max-width: 1200px) {
  .contact__form {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .contact__form {
    width: 80%;
    margin-bottom: 2rem;
  }
}

.contact__form p {
  color: #073749;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact__form input {
  border: none;
  border-radius: 10px;
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #747474;
  font-size: 1rem;
}

.contact__form textarea {
  resize: none;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin: 10px auto 10px auto;
  padding: 10px;
  color: #747474;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.contact__form .btn {
  width: 20%;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-image: linear-gradient(15deg, #073749 0%, #38746d 100%);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

@media (max-width: 600px) {
  .contact__form .btn {
    width: 30%;
  }
}

.contact__form .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.footer {
  scroll-snap-align: end;
  background-image: linear-gradient(15deg, #073749 0%, #38746d 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.footer p {
  margin: 0 auto 1rem auto;
  text-transform: uppercase;
}

.footer__social {
  padding: 1rem;
}

.footer__social i {
  margin: 0.5rem 1rem;
  font-size: 3rem;
  color: white;
}

#julia path:nth-child(1) {
  stroke-dasharray: 448.77px;
  stroke-dashoffset: 448.77px;
  -webkit-animation: line-anim 2s ease forwards 1.5s;
          animation: line-anim 2s ease forwards 1.5s;
}

#julia path:nth-child(2) {
  stroke-dasharray: 646.16px;
  stroke-dashoffset: 646.16px;
  -webkit-animation: line-anim 2s ease forwards 1.8s;
          animation: line-anim 2s ease forwards 1.8s;
}

#julia path:nth-child(3) {
  stroke-dasharray: 425px;
  stroke-dashoffset: 425px;
  -webkit-animation: line-anim 2s ease forwards 2.1s;
          animation: line-anim 2s ease forwards 2.1s;
}

#julia path:nth-child(4) {
  stroke-dasharray: 339px;
  stroke-dashoffset: 339px;
  -webkit-animation: line-anim 2s ease forwards 2.4s;
          animation: line-anim 2s ease forwards 2.4s;
}

#julia path:nth-child(5) {
  stroke-dasharray: 637.33px;
  stroke-dashoffset: 637.33px;
  -webkit-animation: line-anim 2s ease forwards 2.7s;
          animation: line-anim 2s ease forwards 2.7s;
}

#shumeyko path:nth-child(1) {
  stroke-dasharray: 646.33px;
  stroke-dashoffset: 646.33px;
  -webkit-animation: line-anim 2s ease forwards 3s;
          animation: line-anim 2s ease forwards 3s;
}

#shumeyko path:nth-child(2) {
  stroke-dasharray: 725px;
  stroke-dashoffset: 725px;
  -webkit-animation: line-anim 2s ease forwards 3.3s;
          animation: line-anim 2s ease forwards 3.3s;
}

#shumeyko path:nth-child(3) {
  stroke-dasharray: 646.16px;
  stroke-dashoffset: 646.16px;
  -webkit-animation: line-anim 2s ease forwards 3.6s;
          animation: line-anim 2s ease forwards 3.6s;
}

#shumeyko path:nth-child(4) {
  stroke-dasharray: 993px;
  stroke-dashoffset: 993px;
  -webkit-animation: line-anim 2s ease forwards 3.9s;
          animation: line-anim 2s ease forwards 3.9s;
}

#shumeyko path:nth-child(5) {
  stroke-dasharray: 636px;
  stroke-dashoffset: 636px;
  -webkit-animation: line-anim 2s ease forwards 4.2s;
          animation: line-anim 2s ease forwards 4.2s;
}

#shumeyko path:nth-child(6) {
  stroke-dasharray: 525px;
  stroke-dashoffset: 525px;
  -webkit-animation: line-anim 2s ease forwards 4.5s;
          animation: line-anim 2s ease forwards 4.5s;
}

#shumeyko path:nth-child(7) {
  stroke-dasharray: 728px;
  stroke-dashoffset: 728px;
  -webkit-animation: line-anim 1.5s ease forwards 4.8s;
          animation: line-anim 1.5s ease forwards 4.8s;
}

#shumeyko path:nth-child(8) {
  stroke-dasharray: 673.60px;
  stroke-dashoffset: 673.60px;
  -webkit-animation: line-anim 2s ease forwards 5.1s;
          animation: line-anim 2s ease forwards 5.1s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
/*# sourceMappingURL=styles.css.map */