@import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Montserrat:400,700&display=swap');

$blue: #073749;
$grey: #3d3d3d;


/************************          MIXINS         ****************************/

@mixin for-tablet-landscape {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin for-tablet-portrait {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin for-phone {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin for-tiny-phone {
    @media (max-width: 373px) {
        @content;
    }
}


/************************          STYLES         ****************************/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;

    @include for-phone {


        scroll-snap-type: none;
        overflow-x: hidden;
    }
}


.mobile-nav {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    z-index: 11000;
    text-align: center;
    transform: translateX(2000px);

    li {
        list-style: none;
        margin: 3rem 1rem;
        z-index: 2;
        font-size: 2rem;
    }

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
    }
}

#nav-toggle {
    position: fixed;
    display: none;
    z-index: 12000;
    right: 5%;
    top: 5%;

    @include for-phone {
        display: block;
    }

    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: "";
    }
    #nav-toggle span:before {
    top: -10px;
    }
    #nav-toggle span:after {
    bottom: -10px;
    }

    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        transition: all 500ms ease-in-out;
    }
    #nav-toggle.active span {
        background-color: transparent;
    }
    #nav-toggle.active span:before,
    #nav-toggle.active span:after {
        top: 0;
    }
    #nav-toggle.active span:before {
        transform: rotate(45deg);
    }
    #nav-toggle.active span:after {
        transform: rotate(-45deg);
    }




.nav {
    display: flex;
    justify-content: center;

    @include for-phone {
        display:none;
    }

    li {
        list-style: none;
        margin: 1.5rem 1rem;
        z-index: 2;
        font-size: 1.1rem;
    }

    a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    .active {
        svg {
            path {
            fill: black;
            }
        }
    }

}


.header {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    filter: blur(0px);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

    @include for-tablet-landscape {
        background-position: 60% 50%;
    }

    @include for-tablet-portrait {
        background-position: 72% 50%;
    }

    @include for-phone {
    overflow-x: hidden;
    }
    
    &__hero {

        height: 100%;
    }



    &__hero h2 {
        font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 3px;
        color: white;
        font-weight: bold;
        margin: 2rem auto;
        z-index: 30;
        border-radius: 10px;
        padding: 10px;
        border: 4px solid #fff;
        text-align: center;
        width:55%;
        text-transform: uppercase;
        


        @include for-phone {

            width:80%;
         transform: translateY(40%);
        
            }
    }




    &__text-container {
    margin: 0;
    z-index: 30;

    @include for-phone {

    width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    

    }
    }
}

.background {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: -1;
    clip-path: polygon(0 0, 70% 0, 45% 100%, 0% 100%);

    @include for-phone {
        clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
    }
}

#shark {

position: absolute;
height: 120px;
left: 50%;
transform: translateX(-50%);
top: 160px;

@include for-phone {

left: 50%;
transform: translateX(-50%);

}

}

#julia {
    animation: fill 1s ease forwards 3.5s;
    fill: transparent;
    width: 70%;
    margin: 2rem auto;
    display: block;

    @include for-phone {

        margin: 0;
        width: 90%;

    }

}

#shumeyko {

    animation: fill 1s ease forwards 6s;
    fill: transparent;
    width: 90%;
    margin: auto;
    display: block;

    @include for-phone {

        margin: 2rem auto;
        width: 90%;

    }

}


.about, .skills, .projects, .contact {
    display: flex;
    scroll-snap-align: start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-type: y mandatory;

    @include for-phone {
        height: 100%;
        padding-top: 1rem;
        width: 100vw;
        padding-bottom: 1rem;
    }

    &__text {

        text-align: center;
        width: 50vw;


        @include for-phone {
            width: 100vw;
            padding: 1rem;
        }   

        h1 {
            // font-size: 8rem;
            font-size: 8.3vw;
            text-align: center;
            color: $grey;

            @include for-tablet-portrait {
                font-size: 11.5vw;
                margin-bottom: 0.5rem;
            }

            @include for-phone {
                font-size: 13vw;
                
            }   
        }
        p {
            font-size: 1.3rem;
            text-align: justify;
            // line-height: 1.8rem;
            color: $grey;

            @include for-tablet-landscape {
                font-size: 1.1rem;
            }

            @include for-phone {
                font-size: 0.9rem;
                margin-bottom: 1rem;
            }           
        }
    }
}


.about {
    span {
        display: inline-block;
        color: #28DCFE;
        font-weight: bold;
    }

    &__text {
        h1 {
            background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {

            color: #525252;

        }

    }
}

.skills {

    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

    &__text {

        width: 70vw;
    }


    &__icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h1 {
        color: white;
        margin-bottom: 3rem;
    }

    i {
        // color: $grey;
        color: white;
        font-size: 4.5rem;
        margin: 2rem;

        @include for-phone {
            font-size: 2.4rem;
            margin: 1rem;
        }
    }

    .skill {
        height: 3rem;
        margin: 2rem;
        fill: $grey;

        @include for-phone {
            height: 2rem;
            margin: 1rem;
        }
    }

}

.projects {

    height: 100%;
    justify-content: flex-start;

    @include for-phone {
       overflow-x: hidden;
    }   


    @include for-tablet-landscape {
        height: 100%;
        // padding-top: 2rem;
        // padding-bottom: 2rem;
    }

    .about__text {
        h1 {
            margin: 4rem 0 2rem 0;

            @include for-phone {
                margin-top: 0;
            }
        }
    }
    &-container {
        margin: 0;
        display: flex;
        text-align: center;
        position: relative;
        justify-content: space-evenly;
        flex-wrap: wrap;



        .project-card {
            margin: 0rem;
            position: relative;

            

            
            @include for-tablet-portrait {
                margin: 4rem 0;
                position: static;
            }
        
            img {
                width: 100%;
                height: 100%;
                filter: brightness(0.6) grayscale(0.1);
                box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.45);

                @include for-tablet-portrait {
                    filter: none;
                }
            }

            

            .face {
                width: 400px;
                height: 200px;
                transition: 0.5s;
   

                @include for-tablet-portrait {
                    width: 100vw;
                }
            }

            .face1 {
                position: relative;
    
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transform: translateY(180px);
        
                
                @include for-tablet-portrait {
                    width: 100vw;
                    transform: translateY(0);
                }

                .content {
                    // opacity: 0.5;
                    transition: 0.5s;
                    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);


                }

            }

            .face1:hover {
                transform: translateY(0);
            }

            .face2 {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                position: relative;
                background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                box-sizing: border-box;
                height: 290px;
                box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.45);
                transform: translateY(-140px);

                @include for-tablet-portrait {
                    // width: 100vw;
                    transform: translateY(10%);
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                }

                @include for-tiny-phone {
                    transform: translateY(2%);
                    padding: 15px;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                }

                p {
                    margin: 0;
                    padding: 0;
                    span {
                        color: rgb(39, 38, 65);
                        font-size: 0.6rem;
                        text-transform: uppercase;
            
                    }
                }

                a {
                    margin: 15px 0 0;
                    display: inline-block;
                    text-decoration: none;
                    font-weight: 700;
                    color: $blue;
                    padding: 5px;
                    text-transform: uppercase;
                }

                a:hover {
                    background-color: $blue;
                    color: #fff;
                }

                h3 {
                    // margin: 10px 0 0;
                    margin:0 auto 30px auto;
                    color: #fff;
                    text-align: center;
                    font-size: 2rem;
                    text-transform: uppercase;
                    line-height: 1.8rem;

                    @include for-tiny-phone {
                        font-size: 1.3rem;
                    }
                }
            }
            
        }

        .project-card:hover {
            .content {
                opacity: 1;
            }
            
            .face1 {
                transform: translateY(0);
            }
            
            .face2 {
                transform: translateY(10%);
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
       
            }

            img {
                filter: none;
                transition: 500ms ease;
            }
        }
    }
}



.contact {


    margin: 5rem 0 0 0;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);


    &__text {

    h1 {
        color: white;
        margin-top: 4rem;
    }
    }


    &__form {
    text-align: center;
    width: 30%;
    margin: 4rem auto auto auto;

    @include for-tablet-landscape {
        width: 50%;
    }

    @include for-phone {
        width: 80%;
        margin-bottom: 2rem;
    }

    p {
        color: $blue;
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    input {
        border: none;
        border-radius: 10px;
        width: 100%;
        margin: 10px auto 10px auto;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        color: #747474;
        font-size: 1rem;
    }

    textarea {
        resize: none;
        width: 100%;
        border: none;
        border-radius: 10px;
        margin: 10px auto 10px auto;        
        padding: 10px;
        color: #747474;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;

    }

    .btn {
        width: 20%;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        background-image: linear-gradient(15deg, #073749 0%, #38746d 100%);
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 15px;
        // margin: 20px;
        transition: 200ms;

        @include for-phone {
            width: 30%;
        }
    }

    .btn:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    }
}



.footer {


scroll-snap-align: end;    
background-image: linear-gradient(15deg, #073749 0%, #38746d 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #fff;

p{
margin: 0 auto 1rem auto;
text-transform: uppercase;
}

&__social {
    padding: 1rem;
    i {
        margin: 0.5rem 1rem;
        font-size: 3rem;
        color: white;
    }
}

}




#julia path:nth-child(1){
    stroke-dasharray: 448.77px;
    stroke-dashoffset: 448.77px;
    animation: line-anim 2s ease forwards 1.5s;
}

#julia path:nth-child(2){
    stroke-dasharray: 646.16px;
    stroke-dashoffset: 646.16px;
    animation: line-anim 2s ease forwards 1.8s;
}

#julia path:nth-child(3){
    stroke-dasharray: 425px;
    stroke-dashoffset: 425px;
    animation: line-anim 2s ease forwards 2.1s;
}

#julia path:nth-child(4){
    stroke-dasharray: 337.14px;
    stroke-dashoffset: 337.14px;
    animation: line-anim 2s ease forwards 2.4s;
}

#julia path:nth-child(5){
    stroke-dasharray: 637.33px;
    stroke-dashoffset: 637.33px;
    animation: line-anim 2s ease forwards 2.7s;
}




#shumeyko path:nth-child(1){
    stroke-dasharray: 646.33px;
    stroke-dashoffset: 646.33px;
    animation: line-anim 2s ease forwards 3s;
}

#shumeyko path:nth-child(2){
    stroke-dasharray: 725px;
    stroke-dashoffset: 725px;
    animation: line-anim 2s ease forwards 3.3s;
}

#shumeyko path:nth-child(3){
    stroke-dasharray: 646.16px;
    stroke-dashoffset: 646.16px;
    animation: line-anim 2s ease forwards 3.6s;
}

#shumeyko path:nth-child(4){
    stroke-dasharray: 993px;
    stroke-dashoffset: 993px;
    animation: line-anim 2s ease forwards 3.9s;
}

#shumeyko path:nth-child(5){
    stroke-dasharray: 636px;
    stroke-dashoffset: 636px;
    animation: line-anim 2s ease forwards 4.2s;
}

#shumeyko path:nth-child(6){
    stroke-dasharray: 525px;
    stroke-dashoffset: 525px;
    animation: line-anim 2s ease forwards 4.5s;
}

#shumeyko path:nth-child(7){
    stroke-dasharray: 728px;
    stroke-dashoffset: 728px;
    animation: line-anim 1.5s ease forwards 4.8s;
}

#shumeyko path:nth-child(8){
    stroke-dasharray: 673.60px;
    stroke-dashoffset: 673.60px;
    animation: line-anim 2s ease forwards 5.1s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    } to {
        fill: white;
    }
}
